<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
<mat-grid-list cols="2" rowHeight="1:0">
    <mat-grid-tile class="left">
        <div class="row">
            <div class="col-md-6">
               <router-outlet></router-outlet>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="right" style="background: url('assets/images/dynamicBlue.jpg');">
        <img src="assets/images/logo.png" alt="logo" id="logo">
        <h1 class="company-title">LOGO</h1>
        <h2 class="header md-5">Welcome Page</h2>
        <p class="subtitle">Register your account to get started.</p>
  
        <p class="websiteurl">www.website.com</p>
    </mat-grid-tile>
</mat-grid-list>




